@model ShoppingCart.Web.Models.ProductsDto
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<form method="post">
    <div class="card">
        <div class="card-header">
            <div class="row">
                <div class="col-6">@Model.Name</div>
                <div class="col-6 text-end">
                    <p class="card-text">@String.Format("{0:c}", Model.Price)</p>

                </div>
            </div>
        </div>

        <div class="card-body">
            <input type="hidden" asp-for="Id" />
            <div class="row">
                <div class="col-4">
                    <div class="card" style="width: 18rem;">
                        <img src="@Model.ImageUrl" class="card-img-top" alt="...">
                    </div>
                </div>
                <div class="col-8">
                    <h5 class="card-title">@Model.CategoryName</h5>
                    <p class="card-text">@Model.Description</p>
                    <div class="col-12">
                        <input type="number" asp-for="Count" class="form-control" />
                        <span asp-validation-for="Count" class="text-danger"></span>
                    </div>
                </div>

                <br />  <br />
                <div class="row m-1">
                    <div class="col-6 pb-1">
                        <a asp-action="Index" class="btn btn-success form-control btn-lg"><i class="bi "></i>Back To List</a>
                    </div>
                    <div class="col-6 pb-1">
                        <button type="submit" asp-controller="Home" asp-action="ProductDetails" class="btn btn-primary form-control btn-lg">Add Card</button>
                    </div>
                </div>
            </div>
        </div>

    </div>
</form>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}