@model ShoppingCart.Web.Models.CartDto
@{
    ViewData["Title"] = "Index";
}

<form method="post">
    @if (Model.CartHeader == null && Model.CartDetails == null)
    {
        <div class="alert alert-danger text-center">
            <h4>Shopping Cart is Empty</h4>
            <p><a asp-controller="Home" asp-action="Index">Continue Shopping</a></p>
        </div>
    }
    else
    {
        <input type="hidden" asp-for="CartHeader.Id" />
        <input type="hidden" asp-for="CartHeader.UserId" />
        <div class="card border mt-4 container">
            <div class="card-header">
                <div class="row">
                    <div class="col-6">Shopping Cart</div>
                    <div class="col-6 text-end">
                        <p class="card-text"><a asp-controller="Home" asp-action="Index">Continue Shopping</a></p>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div class="row text-info">
                    <div class="col-lg-2"></div>
                    <div class="col-lg-5">Product Details</div>
                    <div class="col-lg-2">Price</div>
                    <div class="col-lg-2">Count</div>
                    <div class="col-lg-1"></div>

                </div>
                <hr />
                @foreach (var item in Model.CartDetails)
                {
                    <div class="row">
                        <div class="col-lg-2">
                            <img src="@item.Product.ImageUrl" alt="@item.Product.Name" class="img-fluid" />
                        </div>
                        <div class="col-lg-5">
                            <h5>@item.Product.Name</h5>
                            <p> @item.Product.Description</p>
                        </div>
                        <div class="col-lg-2">
                            <h5>@item.Product.Price.ToString("C")</h5>
                        </div>
                        <div class="col-lg-2">
                            <input type="number" value="@item.Count" min="1" max="@item.Count" class="form-control" />
                        </div>
                        <div class="col-lg-1 text-end">
                            <a asp-action="RemoveFromCart" class="btn btn-danger btn-sm remove-item" asp-route-cartDetailsId="@item.Id">Remove</a>
                        </div>
                    </div>
                }
                <hr />
                <div class="row">
                    <div class="col-6">
                        @if (string.IsNullOrEmpty(Model.CartHeader.CouponCode))
                        {
                            <span>Coupon:</span>
                            <input asp-for="CartHeader.CouponCode" />
                            <button type="submit" asp-action="ApplyCoupon" class="btn btn-sm btn-success">Apply</button>
                        }
                        else
                        {
                            <span>Coupon:</span>
                            <input asp-for="CartHeader.CouponCode" disabled />
                            <button type="submit" asp-action="RemoveCoupon" class="btn btn-sm btn-success">Remove</button>
                        }
                    </div>
                    <div class="col-6 text-end">
                        <span class="text-danger" style="font-size:21px;">Order Total : @string.Format("{0:c}", Model.CartHeader.CartTotal) <br /></span>
                        @if (Model.CartHeader.Discount > 0)
                        {
                            <span class="text-success" style="font-size:21px;">Order Discount : @string.Format("{0:c}", Model.CartHeader.Discount) <br /></span>
                        }
                    </div>
                </div>
            </div>
            <div class="card-footer row">
                <div class="col-6 col-md-3">
                    <a type="submit" asp-action="Checkout" class="btn btn-primary">Checkout</a>
                </div>
            </div>
        </div>
    }
</form>

@section Scripts {
    <script src="~/js/cart.js"></script>
}
